[Desktop Entry]
Name=Volumeicon Alsa

Icon=/usr/share/volumeicon.svg
Exec=volumeicon
Terminal=false
Type=Application
OnlyShowIn=XFCE;GNOME;
StartupNotify=true
X-GNOME-Autostart-enabled=true
X-GNOME-UsesNotifications=true


Name[id_ID]=volumeicon-alsa.desktop
